.mobile-header {
  display: block;
}

.desktop-header {
  display: none;
}

h1 {
  margin-top: 3rem;
  padding-right: 2rem;
}

h1 small {
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.page {
  display: flex;
  flex-direction: column;
}

#story {
  padding: 1rem;
}

/* Greater than tablet layouts */
@media screen and (min-width: 1200px) {
  .page {
    flex-direction: row;
  }

  h1 {
    text-align: right;
    color: #fff;
  }

  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
    background-color: #282c34;
    min-width: 400px;
    min-height: 100vh;
  }

  .titlecard {
    padding-top: 1rem;
    position: sticky;
    top: 0;
  }
}

/* Greater than mobile layouts */
@media screen and (min-width: 800px) {
  #story {
    width: calc(100% - 20px);
    max-width: 700px;
    padding: 2rem 0 0 4rem;
  }
}
