header,
footer {
  background-color: #282c34;
}

.mobile-header {
  display: block;
}

.desktop-header {
  display: none;
}

h1 {
  padding: 0.5rem 2rem;
  color: #fff;
}

h1 small {
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.normal-link {
  color: #fff;
}
.normal-link::before {
  content: none;
}

.page {
  display: flex;
  flex-direction: column;
}

#story {
  padding: 1rem;
  padding-bottom: 6rem;
}

/* Greater than tablet layouts */
@media screen and (min-width: 1200px) {
  .page {
    flex-direction: row;
  }

  h1 {
    text-align: right;
    color: #fff;
  }

  .mobile-header {
    display: none;
  }

  .desktop-attribution {
    margin-left: 6.5rem;
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .desktop-header {
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    min-height: 100vh;
  }

  .titlecard {
    padding-top: 1rem;
    position: sticky;
    top: 0;
  }
}

/* Greater than mobile layouts */
@media screen and (min-width: 800px) {
  #story {
    width: calc(100% - 20px);
    max-width: 700px;
    padding-top: 2rem;
    padding-right: 5rem;
  }
}
