body,
html {
  margin: 0;
  padding: 0;
}

body,
html,
* {
  font-family: 'IBM Plex Serif', serif;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(51, 51, 51);
}

hr {
  color: rgba(0, 0, 0, 0.3);
}

p {
  font-size: 18px;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 800px) {
  p {
    font-size: 20px;
  }
}

a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

a::before {
  content: '> ';
}
